*.[ao]
.cproject
.project
src/.project
.settings
.tracecompass/
.vs
command_log.txt
testlog.txt
C2_log*
Vice_log*
.externalToolBuilders/
src/CMakeSettings.json
Debug/
Release/
build/
test/
src/out/
*~
/unit_test/
/Unit_test/
/chesslib/
/unit_tests/
/Debug_test/
/Debug_Engine/
/Unit_Test/
/Debug_Test/
/Debug_unit_test/
